@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'futura-md-bt-medium';
  src: url("http://localhost:3000/fonts/FuturaMediumBT.ttf");
  font-weight: 400;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(220, 119, 0);
}

.text-shadow-orange {
  text-shadow: 0 0 20px rgba(220, 119, 0, .7);
}
